.App {
  outline: 2px solid rgba(4, 14, 104, 0.418);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.contactBox {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
